.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding: 30px 0;
    box-sizing: border-box;
}

.head{
    padding: 10px 20px;
    background-color: #5C5CFF;
    color: #fff;
    font-size: 15px;
}

.head:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.head:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tablebody{
    background-color: #fff;
}

.tablebody td{
    padding: 12px 20px;
    text-align: center;
    font-size: 14px;
}

.tablebody td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tablebody td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    
}

.edit{
    color: #5C5CFF;
    font-weight: 600;
    font-size: 20px;
}

.delete{
    color: #f94449;
    font-weight: 600;
    font-size: 20px;
}

.edit:hover, .delete:hover{
    transform: translateY(-2px) scale(1.4);
    transition:
        transform 0.5s ease,
        box-shadow 0.35s ease,
        background-color 0.35s ease;
}

.edit:active, .delete:active{
    transform: translateY(1px) scale(1);
    transition:
        transform 0.5s ease;
}


.merchandise{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 
        6px 6px 14px rgba(163, 168, 175, 0.55),   
        -6px -6px 14px rgba(255, 255, 255, 0.85); 

    background-color: #e5e7eb; 
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
}

.detailhead{
    font-size: 20px;
    font-weight: 600;
}

.searchsection{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 20px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.search{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.input{
    background-color: #fff; 
    padding: 8px 50px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 36px;
    font-size: 14px;
    box-sizing: border-box;

}

.add{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #5C5CFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    border: none;

    box-shadow: 
        6px 6px 14px rgba(58, 58, 180, 0.5),     /* darker shade of #5C5CFF */
        -6px -6px 14px rgba(140, 140, 255, 0.5); /* lighter shade of #5C5CFF */

    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.add:hover{
    box-shadow: 
        8px 8px 18px rgba(58, 58, 180, 0.55),
        -8px -8px 18px rgba(140, 140, 255, 0.6);
    transform: translateY(-2px) scale(1.1);
    transition:
        transform 0.5s ease,
        box-shadow 0.35s ease,
        background-color 0.35s ease;

    will-change: transform;
}
.add:active{
    box-shadow: 
        inset 4px 4px 10px rgba(58, 58, 180, 0.5),
        inset -4px -4px 10px rgba(140, 140, 255, 0.5);
    transform: translateY(1px) scale(1.0);
}

.text{
    font-size: 15px;
    font-weight: 600;
    color: #fff
}
.bag{
    color: #fff;
    font-size: 15px;
}